[submodule "extern/aurora"]
	path = extern/aurora
	url = https://github.com/automata-rtx/aurora-ao.git
[submodule "extern/borealis"]
	path = extern/borealis
	url = https://github.com/encounter/borealis.git
